{% extends "base.html" %}
{% block content %}

    <div class="error">{{error_msg if error_msg != None}}</div>

    <form action="{{url_for('image_upload_save',id=id)}}" enctype="multipart/form-data" method="post">
        What is the image file to upload? <input type="file" name="uploadedfile" /><br />
        <input type="submit" value="send" />
        <input type="reset" />
    </form>
    
    <form action="{{url_for('images_view',id=id)}}" method="get">
        <input type="submit" value="Back" />
    </form>
    
{% endblock %}
